<footer>
  <div class="wrapper">
    <ul>
      <li><a class="js-en-lang">English</a><a class="js-vi-lang">Vietnamese</a></li>
      <li><a href="https://goalify.chat">About</a></li>
      <li><a href="https://goalify.chat#download">Download</a></li>
      <li><a href="https://public.goalify.chat">Live Demo</a></li>
    </ul>
    <ul>
      <li><a href="https://goalify.plus/about">Team</a></li>
      <li><a href="https://goalify.plus/privacy">Privacy Policy</a></li>
      <li><a href="mailto:support@goalify.chat">Support</a></li>
    </ul>
    <ul>
      <li><a href="mailto:contact@goalify.chat">Email</a></li>
      <li><a href="https://www.facebook.com/goalify.plus/">Facebook</a></li>
      <li><a href="https://www.linkedin.com/in/goalify-jsc-746788141/">Linkedin</a></li>
      <li><a href="https://twitter.com/Goalifyplus">Twitter</a></li>
    </ul>
  </div>
</footer>