<footer>
  <div class="wrapper">
    <ul>
      <li><a href="/download">Download</a></li>
      <li><a href="/">Docs</a></li>
    </ul>
    <ul>
      <li><a href="https://goalify.chat/team">Team</a></li>
      <li><a href="https://goalify.chat/job">Jobs</a></li>
      <li><a href="https://goalify.chat/partners">Partners</a></li>
      <li><a href="https://goalify.chat/terms">Terms of Service</a></li>
    </ul>
    <ul>
      <!-- <li><a href="https://forums.rocket.chat">Forums</a></li> -->
      <li><a href="https://goalify.chat/contact">Contact</a></li>
      <li><a href="https://shop.spreadshirt.com/rocketchat" target="_blank">Swag Store</a></li>
      <li><a href="https://www.stickermule.com/user/1070688638/stickers" target="_blank">Stickers</a></li>
      <li><a href="https://goalify.chat/press">Press</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</footer>
